// @font-face {
//     font-family: "PT Root UI";
//     font-weight: 700;
//     src: url("../font/PT_Root_UI_Bold/PT\ Root\ UI_Bold.woff2") format("woff2"), url("../font/PT_Root_UI_Bold/PT\ Root\ UI_Bold.woff2")format("woff");
// }

// @font-face {
//     font-family: "PT Root UI";
//     font-weight: 200;
//     src: url("../font/PT_Root_UI_Light/PT\ Root\ UI_Light.woff2") format("woff2"), url("../font/PT_Root_UI_Light/PT\ Root\ UI_Light.woff") format("woff");
// }

// @font-face {
//     font-weight: 500;
//     font-family: "PT Root UI";
//     src: url("../font/PT_Root_UI_Medium/PT\ Root\ UI_Medium.woff2") format("woff2"), url("../font/PT_Root_UI_Medium/PT\ Root\ UI_Medium.woff") format("woff");
// }

// @font-face {
//     font-weight: 400;
//     font-family: "PT Root UI";
//     src: url("../font/PT_Root_UI_Regular/PT\ Root\ UI_Regular.woff2") format("woff2"), url("../font/PT_Root_UI_Regular/PT\ Root\ UI_Regular.woff2") format("woff");
// }


//generated

@font-face {
  font-weight: 200;
  font-family: 'PTRootUI_Light';
  src: url('fonts/PTRootUI_Light.eot');
  src: url('fonts/PTRootUI_Light.eot') format('embedded-opentype'),
       url('fonts/PTRootUI_Light.woff2') format('woff2'),
       url('fonts/PTRootUI_Light.woff') format('woff'),
       url('fonts/PTRootUI_Light.ttf') format('truetype'),
       url('fonts/PTRootUI_Light.svg#PTRootUI_Light') format('svg');
}

@font-face {
  font-weight: 400;
  font-family: 'PTRootUI_Regular';
  src: url('fonts/PTRootUI_Regular.eot');
  src: url('fonts/PTRootUI_Regular.eot') format('embedded-opentype'),
       url('fonts/PTRootUI_Regular.woff2') format('woff2'),
       url('fonts/PTRootUI_Regular.woff') format('woff'),
       url('fonts/PTRootUI_Regular.ttf') format('truetype'),
       url('fonts/PTRootUI_Regular.svg#PTRootUI_Regular') format('svg');
}

@font-face {
  font-weight: 500;
  font-family: 'PTRootUI_Medium';
  src: url('fonts/PTRootUI_Medium.eot');
  src: url('fonts/PTRootUI_Medium.eot') format('embedded-opentype'),
       url('fonts/PTRootUI_Medium.woff2') format('woff2'),
       url('fonts/PTRootUI_Medium.woff') format('woff'),
       url('fonts/PTRootUI_Medium.ttf') format('truetype'),
       url('fonts/PTRootUI_Medium.svg#PTRootUI_Medium') format('svg');
}

@font-face {
  font-weight: 700;
  font-family: 'PTRootUI_Bold';
  src: url('fonts/PTRootUI_Bold.eot');
  src: url('fonts/PTRootUI_Bold.eot') format('embedded-opentype'),
       url('fonts/PTRootUI_Bold.woff2') format('woff2'),
       url('fonts/PTRootUI_Bold.woff') format('woff'),
       url('fonts/PTRootUI_Bold.ttf') format('truetype'),
       url('fonts/PTRootUI_Bold.svg#PTRootUI_Bold') format('svg');
}
