.wrapper {
    width: 1170px;
    display: flex;
    flex: 0 0 1170px;
    margin: 0 auto;

}
html {
  color: $primary;
  font-weight: 400;
}
body {
    font-size: 14px;
    font-family: 'PT Root UI';
    font-weight: 400;
    background-color: $bgc-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a {
    color: #343e5c;
}
