$bgc-gray: #f5f8fa;
$bgc-gray-second: #e3e8f0;
$bgc: #fff;
$bgc-footer: #222328;
$primary: #343e5c;
$a-hover: #f24841;
$a-active: #db2d25;
$a-hover-second: #fff;
$icon: #A1A8BD;
$border: #dadee2;
$text-descr: #828aa2;
$button-hover: #E93D35;
$button-active: #DB2D25;
$input-focus: #315AD5;
