.filter {
    margin-top: 50px;
    width: 100%;
    &__wrapper {
        background-color: $bgc;
        height: 92px;
        padding: 25px 0;
        align-items: center;
        border-radius: 5px;
    }
    &__price {
        flex-basis: 330px;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        &-name {
          align-self: ce
        }
        &-value svg {
          margin: 0 10px;
        }
        &-range {
          display: flex;
          justify-content: center;

        }
    }
    &__set {
        margin-left: auto;
        margin-right: 15px;
    }
}


