.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $bgc;
  &__image {
    margin-top: 15px;
  }
  &__wrapper {
    justify-content: space-between;
  }
  &__title {
    color: $primary;
    font-size: 42px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
}
